<div>
    <mat-card>
        <mat-card-title>Adicionar produto</mat-card-title>
        <div style="margin-bottom: 12px;">
            <div>
                <label>Nome</label>
            </div>
            <div>
                <input type="text">
            </div>
        </div>
        <div style="margin-bottom: 12px;">
            <div>
                <label>Descrição</label>
            </div>
            <div>
                <input type="text">
            </div>
        </div>
        <div style="margin-bottom: 12px;">
            <div>
                <label>Foto</label>
            </div>
            <div>
                <input type="text">
            </div>
        </div>
        <mat-card-actions align="end">
            <button mat-button color="warn" routerLink="excluir">Cancelar</button>
            <button mat-raised-button color="primary" routerLink="editar">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>