/* div {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

mat-card {
    max-width: 760px;
} */